body{
  background-color: white;
  text-align: center;
}
#header{
  background-image: url("../images/background.png");
}
.white-text{
  font-family: Helvetica;
  color: white;
}
.big-text{
  font-size: 70px;
}
.small-text{
  font-size: 23px;
}
.tiny-text{
  font-size: 18px;
}
.medium-text{
  font-size: 32px;
}
.more-small{
  font-size: 14px;
}
.bold{
  font-weight: bold;
}
ul{
  list-style: none;
  color: white;
  text-decoration: underline;
  text-decoration-color: white;
  font-family: Helvetica;
  font-size: 18px;
  font-weight: bold;

}
.black-text{
  font-family: Helvetica;
  color: black;
}
#details{
  background-image: url("../images/background.png");
  font-family: Helvetica;
  color: white;
  font-weight: bold;
  font-size: 23px;
}
#footer{
  font-family: Helvetica;
  background-color: dimgray;
  color: white;
  text-align: left;
}
.wee{
  font-size: 11px;
  text-align: left;
}
